ul.y-tabs {
  border-bottom: 1px solid #ecf0f1;
}
ul.y-tabs li {

}
ul.y-tabs li a {
  font-family: 'Muli-Regular';
  font-size: 13px;
  -webkit-user-select: none;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
}
ul.y-tabs li span {

}
ul.y-tabs li span svg {
  position: relative;
  bottom: 2px;
  font-size: 17px;
  margin-right: 4px;
}
