.main {

}
.main .layout {

}

.main .layout .loader-defaultLayout {
  position: absolute;
  top: 25%;
  left: 60%;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #34495e;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.main .layout .layoutBody {
  padding-top: 90px;
  padding-left: 95px;
  padding-right: 15px;
  transition: all 0.3s ease;
}
.main .layout .layoutBody.adjust {
  padding-left: 315px;
  padding-right: 15px;
  /* padding-left according the width of sidebar + spacing   */
}

@media(max-width: 767px){
  .main .layout .layoutBody.adjust {
    padding-left: 95px;
  }
}
