/* add this to the content body */
/* border: 1px solid #ecf0f1; */

/* table unique */
.table-noResultsFound {
  font-family: 'Muli-Regular';
  font-size: 16px;
}
header.sc-chPdSV  {
  background-color: #f5f6fa;
}
header.sc-chPdSV .sc-kgoBCf {
  font-size: 16px;
  font-family: 'Muli-SemiBold';
  color: #576574;
}
.sc-ckVGcZ {

}
.sc-gqjmRU {
  border-top: 1px solid #ecf0f1;
  cursor: pointer;
}
.sc-gqjmRU:hover {
  background-color: rgb(236, 240, 241, 0.2);
}
.sc-eNQAEJ {
  border-top: 1px solid #ecf0f1;
}
.sc-eNQAEJ .sc-bdVaJa .sc-dxgOiQ {

}
.sc-eNQAEJ button {
  outline: none;
}
.sc-eNQAEJ nav.sc-htpNat {
  border-top: 1px solid #ecf0f1;
}
.sc-kAzzGY {
  background-color: #ecf0f1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid #f5f6fa;
  border-right: 1px solid #f5f6fa;
}
.sc-bxivhb .sc-ifAKCX {
  font-family: 'Muli-SemiBold';
  font-size: 12px;
  transition: background-color 0.2s;
}
.sc-ifAKCX .tableActionButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc-ifAKCX .tableActionButtons button {
  margin: 0 3px;
  padding: 4px 7px;
  font-family: 'Muli-SemiBold';
  border-radius: 2px;
  font-size: 11px;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 20;
}
.sc-ifAKCX .tableActionButtons button:hover {
  opacity: 0.8;
}
.sc-ifAKCX .tableActionButtons button.edit {
  background-color: #2e86de;
}
.sc-ifAKCX .tableActionButtons button.accept {
  background-color: #10ac84;
}
.sc-ifAKCX .tableActionButtons button.decline {
  background-color: #576574;
}
.sc-ifAKCX .tableActionButtons button.delete {
  background-color: #ee5253;
}
.sc-ifAKCX .tableActionButtons button svg {
  position: relative;
  bottom: 1px;
  margin-right: 3px;
  font-size: 14px;
}
.sc-ifAKCX .react-data-table--cell-content {

}
.sc-ifAKCX div.item_activity svg {
  font-size: 23px;
}
.sc-ifAKCX div.item_activity .active_product {
  color: #27ae60;
}
.sc-ifAKCX div.item_activity .disabled_product {
  color: #7f8c8d;
}
.sc-ifAKCX .category_tags_parent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}
.sc-ifAKCX .category_tags_parent div.category_tags {
  background-color: #34495e;
  color: #fff;
  font-size: 10px;
  padding: 3px 5px;
  border-radius: 3px;
  text-overflow:  ellipsis;
  margin: 2px;
  font-family: 'Muli-SemiBold';

}
.sc-ifAKCX div.table-small-image {

}
.sc-ifAKCX div.table-small-image img {
  width: 80px;
  height: 40px;
  object-fit: cover;
}
.sc-bxivhb .sc-ifAKCX:hover {
  background-color: rgb(245, 246, 250, 0.6);
  cursor: pointer;
}
.sc-gqjmRU .sc-ifAKCX {
  font-family: 'Muli-Regular';
  font-size: 12px;
}
.sc-kAzzGY .sc-cSHVUG {
  font-family: 'Muli-Regular';
  font-size: 14px;
}
