.register {
  width: 100%;
  height: 100vh;
  margin: 0;
  /* overflow: hidden; */
  background-color: rgb(35, 40, 50);
}
.register .registerContent {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register .registerContent .left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
}
.register .registerContent .left .greetings {
  padding: 15px 5vh;
  width: 90%;
}
.register .registerContent .left .greetings h1 {
  color: #fff;
  font-family: 'Muli-SemiBold';
  font-size: 48px;
}
.register .registerContent .left .greetings p {
  color: #fff;
  font-family: 'Muli-Regular';
  font-size: 22px;
  margin-top: 15px;
}
.register .registerContent .right {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  min-width: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;

}
.register .registerContent .right .forms {
  text-align: center;
  padding: 15px 35px;
}
.register .registerContent .right .forms label {
  font-family: 'Muli-SemiBold';
  font-size: 18px;
  margin-bottom: 16px;
}
.register .registerContent .right .forms input[type="email"],
.register .registerContent .right .forms input[type="text"] {
  outline: none;
  padding: 11px 13px;
  width: 100%;
  border: 1px solid rgb(35, 40, 50, 0.2);
  border-radius: 3px;
  font-family: 'Muli-Light';
  font-size: 16px;
  transition: border 0.2s;
  margin: 7px 0;
}
.register .registerContent .right .forms input[type="email"]:hover,
.register .registerContent .right .forms input[type="text"]:hover {
  border: 1px solid rgb(35, 40, 50, 0.6);
}
.register .registerContent .right .forms input[type="email"]:focus,
.register .registerContent .right .forms input[type="text"]:focus {
  border: 1px solid rgb(35, 40, 50);
}
.register .registerContent .right .forms .errMsg.show {
  display: block;
}
.register .registerContent .right .forms .errMsg {
  font-size: 13px;
  font-family: 'Muli-Regular';
  color: #e74c3c;
  margin: 6px 0;
  display: none;
}
.register .registerContent .right .forms button.submit {
  width: 100%;
  outline: none;
  padding: 7px 13px;
  border-radius: 3px;
  background-color: rgb(35, 40, 50, 0.8);
  font-family: 'Muli-SemiBold';
  color: #fff;
  font-size: 13px;
  transition: background 0.2s;
  margin: 5px 0;
}
.register .registerContent .right .forms button.submit:hover {
  background-color:  rgb(35, 40, 50, 0.9);
}
.register .registerContent .right .forms .noAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 12px;
}
.register .registerContent .right .forms .noAccount label {
  margin: 0;
  font-family: 'Muli-Regular';
  font-size: 13px;
}
.register .registerContent .right .forms .noAccount a {
  margin: 0;
  margin-top: 4px;
  font-family: 'Muli-Regular';
  font-size: 13px;
}
@media(max-width: 1050px){
  .register .registerContent .left .greetings {
    width: 100%;
  }
  .register .registerContent .left .greetings p {
    text-align: justify;
  }
}
@media(max-width: 860px){
  .register .registerContent .right {
    min-width: 320px;
  }
}
@media(max-width: 767px){
  .register  {
    background-color: rgb(255, 255, 255);
  }
  .register .registerContent {
    justify-content: center;
  }
  .register .registerContent .left .greetings {
    width: 100%;
    text-align: center;
    display: none;
  }
  .register .registerContent .left .greetings h1  {
    font-size: 30px;
    color: #000;
  }
  .register .registerContent .left .greetings p  {
    font-size: 16px;
    color: #000;
    text-align: justify;
    text-align-last: center;
  }
  .register .registerContent .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/*  Modal submit to email */
.register-modal {
  background-color: #fff !important;
}
.register-modal .modal-content {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 0;
}
.register-modal .modal-content svg {
  font-size: 42px;
  margin-bottom: 18px;
}
.register-modal .modal-content h5 {
  font-size: 20px;
  font-family: 'Muli-SemiBold';
  margin-bottom: 10px;
}
.register-modal .modal-content p {
  font-size: 13px;
  font-family: 'Muli-Regular';
  color: #7f8c8d;
}
.register-modal .modal-content button {
  width: 100%;
  background-color: #34495e;
  color: #fff;
  font-family: 'Muli-SemiBold';
  padding: 6px 12px;
  border-radius: 2px;
  font-size: 14px;
  margin: 10px 0;
}
