.leftSideBar {
  width: 300px;
  height: 100vh;
  background-color: #2c3e50;
  position: fixed;
  z-index: 100;
  transition: all 0.3s ease;
}
.leftSideBar.hidden {
  width: 80px;
}
.leftSideBar .leftSideBarContent {

}












@media(max-width: 767px){
  .leftSideBar {
    width: 80px;
    opacity: 0.9;
  }
}
