.labels {
  width: 100%;
  margin: 0;
}
.labels .dxs_dataTable .labelsName {
  color: #3875BB;
  font-weight: 500;
}
.labels .dxs_dataTable .actionButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.labels .dxs_dataTable .actionButtons div {
  margin: 0 6px;
  cursor: pointer;
  font-size: 16px;
}
.labels .dxs_dataTable .actionButtons div.edit svg {
  color: #3498db;
}
.labels .dxs_dataTable .actionButtons div.delete svg {
  color: #c0392b;
}
.labels .dxs_dataTable .subHeaderDiv {
  margin: 25px 17px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow:  row wrap;
}
.labels .dxs_dataTable .subHeaderDiv div.searchBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.labels .dxs_dataTable .subHeaderDiv div.searchBar svg {
  color: #00ABC5;
  font-size: 15px;
  position: relative;
  right: 25px
}
.labels .dxs_dataTable .subHeaderDiv div.searchBar input {
  border: 1px solid #00ABC5;
  border-radius: 4px;
  width: 290px;
  padding: 7px 35px 7px 12px;
}
.labels .dxs_dataTable .subHeaderDiv div.searchBar input::placeholder {
  color: #7f8c8d;
}
.labels .dxs_dataTable .subHeaderDiv .controlPanelDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.labels .dxs_dataTable .subHeaderDiv .controlPanelDiv button {
  border-radius: 4px;
  margin: 4px;
  font-size: 12px;
}
.labels .dxs_dataTable .subHeaderDiv .controlPanelDiv .createUser {

}
.labels .dxs_dataTable .subHeaderDiv .controlPanelDiv .createUser button {
  width: 175px;
  background-color: #00ABC5;
  color: #fff;
  padding: 6px 10px;
  outline: none;
}
.labels .dxs_dataTable .subHeaderDiv .controlPanelDiv .importExport {

}
.labels .dxs_dataTable .subHeaderDiv .controlPanelDiv .importExport button {
  border: 1px solid #B1B1B1;
  background-color: Transparent;
  color: #B1B1B1;
  width: 84px;
  padding: 4px 10px;
  outline: none;
}
.labels .dxs_dataTable .subHeaderDiv .controlPanelDiv .importExport button:hover {
  background-color: #00ABC5;
  color: #fff;
  border: 1px solid #00ABC5;
}
@media(max-width: 915px){

  .labels .dxs_dataTable .subHeaderDiv .controlPanelDiv {
    margin-top: 15px;
  }
}
