.permissionAdmin {

}
.permissionAdmin ul {
  border-bottom: 1px solid #ecf0f1;
}
.permissionAdmin ul li {

}
.permissionAdmin ul li a {
  font-family: 'Muli-Regular';
  font-size: 13px;
  -webkit-user-select: none;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
}
.permissionAdmin ul li span {

}
.permissionAdmin ul li span svg {
  position: relative;
  bottom: 1px;
  font-size: 17px;
}
